@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .blog-title {
        @apply text-black text-4xl font-bold mb-4
    }

    .blog-subtitle {
        @apply text-gray-600 text-xl
    }


    .markdown h1 {
        @apply text-black text-4xl font-bold mb-4 mt-8 first-letter:capitalize
    }

    .markdown h2 {
        @apply text-black text-2xl font-bold mb-3 mt-6 first-letter:capitalize
    }

    .markdown h3 {
        @apply text-gray-600 text-xl my-2 first-letter:capitalize
    }

    .markdown a {
        @apply text-blue-600
    }

    .markdown code {
        @apply rounded-md
    }

    .markdown ol {
        @apply list-decimal list-inside mt-4 mb-4
    }
    .markdown ul {
        @apply list-disc list-inside mt-4 mb-4
    }

    .markdown pre {
        @apply p-5 rounded-md my-4
    }
}


/* SVG Wave Animation */

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,100 C 189.7333333333333,78.53333333333333 379.4666666666666,57.06666666666668 534,67 C 688.5333333333334,76.93333333333332 807.8666666666668,118.26666666666665 953,129 C 1098.1333333333332,139.73333333333335 1269.0666666666666,119.86666666666667 1440,100 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,100 C 191.59999999999997,104.93333333333334 383.19999999999993,109.86666666666666 559,115 C 734.8000000000001,120.13333333333334 894.8000000000002,125.46666666666667 1039,123 C 1183.1999999999998,120.53333333333333 1311.6,110.26666666666667 1440,100 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,100 C 165.46666666666664,126.26666666666667 330.9333333333333,152.53333333333333 512,147 C 693.0666666666667,141.46666666666667 889.7333333333333,104.13333333333333 1047,91 C 1204.2666666666667,77.86666666666667 1322.1333333333332,88.93333333333334 1440,100 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,100 C 196.13333333333333,112.93333333333332 392.26666666666665,125.86666666666665 543,127 C 693.7333333333333,128.13333333333335 799.0666666666666,117.46666666666667 941,111 C 1082.9333333333334,104.53333333333333 1261.4666666666667,102.26666666666667 1440,100 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,100 C 189.7333333333333,78.53333333333333 379.4666666666666,57.06666666666668 534,67 C 688.5333333333334,76.93333333333332 807.8666666666668,118.26666666666665 953,129 C 1098.1333333333332,139.73333333333335 1269.0666666666666,119.86666666666667 1440,100 L 1440,400 L 0,400 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 L 0,233 C 133.86666666666667,238.06666666666666 267.73333333333335,243.13333333333335 424,246 C 580.2666666666667,248.86666666666665 758.9333333333334,249.53333333333336 932,247 C 1105.0666666666666,244.46666666666664 1272.5333333333333,238.73333333333332 1440,233 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,233 C 128.93333333333334,228.33333333333331 257.8666666666667,223.66666666666666 432,222 C 606.1333333333333,220.33333333333334 825.4666666666667,221.66666666666669 1001,224 C 1176.5333333333333,226.33333333333331 1308.2666666666667,229.66666666666666 1440,233 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,233 C 195.46666666666664,235.13333333333333 390.9333333333333,237.26666666666668 543,240 C 695.0666666666667,242.73333333333332 803.7333333333333,246.06666666666663 946,245 C 1088.2666666666667,243.93333333333337 1264.1333333333332,238.4666666666667 1440,233 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,233 C 183.06666666666666,237.8 366.1333333333333,242.6 522,234 C 677.8666666666667,225.4 806.5333333333333,203.4 955,201 C 1103.4666666666667,198.6 1271.7333333333333,215.8 1440,233 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,233 C 133.86666666666667,238.06666666666666 267.73333333333335,243.13333333333335 424,246 C 580.2666666666667,248.86666666666665 758.9333333333334,249.53333333333336 932,247 C 1105.0666666666666,244.46666666666664 1272.5333333333333,238.73333333333332 1440,233 L 1440,400 L 0,400 Z");
    }
}